<div class="p-4">
    <div class="mb-3">
        <label for="contact" class="form-label">Mobile</label>
        <input type="number" class="form-control" id="contact" placeholder="123 456 7890">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" name="" id="password" placeholder="**********">
    </div>

    <button class="btn btn-outline-primary me-2">Cancel</button>
    <button class="btn btn-primary" >Login</button>
</div>