<!-- <h1 style="text-align:center">Welcome to the World of  {{name}}</h1>
<h2 style="text-align:center">I am a  {{job}}</h2>
<div style="text-align: center;">
<img [src]="image" alt="" height="100px" width="100px"></div>
<br/><br/>
<div style="text-align: center;">
<button (click)="onClick()" >Click me Please</button>
<br/><br/>
<input [(ngModel)]="value" type="text">
<br/><br/>
{{value}}
</div>  -->
<!-- <h1 style="text-align:center">counter {{counter}}</h1>
<div style="text-align: center;">
    <button (click)="updateCounter(+1)" >increment</button>
    <br/><br/>
    <div style="text-align: center;">
        <button (click)="updateCounter()" >decrement</button>
        <br/><br/>
        <div style="text-align: center;">
            <button (click)="reset()" >reset</button>
            <br/><br/> -->
<!-- 
<div>
            <input [(value)]="counter" <h1 style="text-align:center">Welcome to the World of  {{name}}</h1>
            <h2 style="text-align:center">I am a  {{job}}</h2>
            <div style="text-align: center;">
            <img [src]="image" alt="" height="100px" width="100px"></div>
            <br/><br/>
            <div style="text-align: center;">
            <button (click)="onClick()" >Click me Please</button>
            <br/><br/>
            <input [(ngModel)]="value" type="text">
            <br/><br/>
            {{value}}
            </div> -->
<!-- <h1 style="text-align:center">counter {{counter}}</h1>
            <div style="text-align: center;">
                <button (click)="updateCounter(+1)" >increment</button>
                <br/><br/>
                <div style="text-align: center;">
                    <button (click)="updateCounter(-1)" >decrement</button>
                    <br/><br/>
                    <div style="text-align: center;">
                        <button (click)="updateCounter(2)" >reset</button>
                        <br/><br/>  -->

<!-- <div>
    <input [(ngModel)]="counter" type="number">
<br/><br/>
{{counter}}
</div>  -->
<!-- <header>
<h1 style="text-align:center;text-decoration:underline;" >Welcome to the World of  {{name}}</h1>
<h2 style="text-align:center;text-decoration: underline;">I am a  {{job}}</h2>
</header>
<form>
    
    <h1 style="text-align: center;">Login Form</h1>
    <br/><br/>  
<div style="text-align: center;">
<input [(ngModel)]="userName" type="text" placeholder="User Name">
{{userName}}
</div>
<br/><br/>  
<div style="text-align: center;">
<input [(ngModel)]="email" type="email" placeholder="Emaid Address">
{{email}}
</div>
<br/><br/>  
<div style="text-align: center;">
<input [(ngModel)]="password" type="password" placeholder="Password">
{{password}}
</div>
<br/><br/>  
<div style="text-align: center;">
    <button (click)="onClick()" >Login</button>
    <br/><br/>  
</div>
</form> -->
<!-- <ng-container *ngFor="let item of obj;let i=index">
    <p *ngIf="item.isActive;else elseTemplate">
     {{i}}   hello {{item.name}}
    </p> 
    <ng-template #elseTemplate>
        <p>
     {{i}}       bye {{item.name}}
        </p>
    </ng-template>
</ng-container> -->

<!-- <h1 *ngIf="user"> 
{{user.name}}</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
     
           
      <tr *ngFor="let item of obj;let i=index">
        <td>{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td><button (click)="onClick(item)" >View</button></td>
      </tr>
           

</tbody>
  </table> -->
<!-- 
<div class="container">
  <h1 *ngIf="user">
    Current User is
    {{ user.name }}
  </h1>
  <h2 *ngIf="addedMarks">
    MarksAdded {{ addedMarks }} &nbsp; &nbsp;
    <button (click)="average()">find Average</button>
    <h3>My Average is {{ averageCalculate }}</h3>
    <button (click)="reset()">Reset</button>
  </h2>

  <h1 class="text-center m-4" [appTextHighlight]="color" defaultColor="yellow" (onClick)="test()">
    My first custom directive
  </h1>

  <button class="btn btn-primary" (click)="changeTextColor('blue')">
    Blue
  </button>
  <button class="btn btn-danger" (click)="changeTextColor('red')">
    Red
  </button>
  <button class="btn btn-success" (click)="changeTextColor('green')">
    Green
  </button>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        &nbsp; &nbsp;
        <th scope="col">Name</th>
        &nbsp; &nbsp;
        <th scope="col">isPass</th>
        &nbsp; &nbsp; &nbsp;
        <th scope="col">Total Marks</th>
        &nbsp; &nbsp;
        <th scope="col">Action</th>
        &nbsp; &nbsp;
        <th scope="col">Add</th>
        &nbsp; &nbsp;
      </tr>
    </thead>
    <tbody>
      <tr
        [ngStyle]="{ color: student[i].isSelected ? 'red' : 'green' }"
        *ngFor="let item of student; let i = index"
      >
        <td>{{ i + 1 }}</td>
        &nbsp; &nbsp;
        <td>{{ item.name }}</td>
        &nbsp; &nbsp;
        <td>{{ item.isPass }}</td>
        &nbsp; &nbsp;
        <td>{{ item.totalMarks }}</td>
        &nbsp; &nbsp;
        <td><button class="btn btn-primary" (click)="onClick(item)">View</button></td>
        &nbsp; &nbsp;
        <td>
          <button [disabled]="item.isSelected" (click)="onAdd(i)">Add</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<app-header></app-header>

<div class="container">
  <router-outlet></router-outlet>
</div>

