.dropdown-container {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 999;
    background: #f3f3f3;
    color: black;
    width: 96%;
    top: 7vh;
    border-radius: 8px;
    padding: 5px 10px;

    p {
        border-bottom: 1px solid #dee2e6;
        cursor: pointer;
    }
}

.dropdown-selector.active + .dropdown-content {
    display: block;
}