<app-sub-header
  #subHeaderComponent
  [title]="'Sub Category'"
  [buttons]="subHeaderButton"
  (onSearch)="onSearch($event)"></app-sub-header>

<div class="row">
    <div [ngClass]="isChildActivate ? 'col-md-8' : 'col-md-12'">
        <table class="table mt-4">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="subCategoryList.length,else noRecord">
              <tr *ngFor="let category of subCategoryList">
                <th scope="row">{{category.id}}</th>
                <td>{{category.name}}</td>
                <td>{{category.description}}</td>
                <td>
                    <button appButtonLarge class="btn btn-danger me-2" >Delete</button>
                    <a appButtonLarge class="btn btn-sm btn-success" [routerLink]="['edit', 2]">Edit</a>
                </td>
              </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
    <ng-template #noRecord>
    <ng-container> no record found</ng-container>
    </ng-template>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>