<app-sub-header
    [title]="'Sub Category'"
    [buttons]="subHeaderButton"
    (onSearch)="onSearch($event)"></app-sub-header>

<div class="row">
    <div [ngClass]="isChildActivate ? 'col-md-8' : 'col-md-12'">
        <table class="table mt-4">
            <thead>
              <tr>
                <th scope="col">id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="subCategoryList.length; else noData">
                <tr *ngFor="let category of subCategoryList">
                  <th scope="row">{{category.id}}</th>
                  <td>{{category.name}}</td>
                  <td>{{category.description}}</td>
                  <td>
                    <button class="btn btn-sm btn-outline-danger me-2">Delete</button>
                    <a appButtonExpansion class="btn btn-sm btn-success" [routerLink]="['edit', 2]">Edit</a>
                  </td>
                </tr>
              </ng-container>
              <ng-template #noData>
                <ng-template *ngTemplateOutlet ="noDataFound; context: {hello: 'no data found'}"></ng-template>
                <ng-template *ngTemplateOutlet ="noDataFound; context: {hello: 'no page found'}"></ng-template>
                <ng-template *ngTemplateOutlet ="noDataFound; context: {hello: 'no irfan found'}"></ng-template>
              </ng-template>
              </tbody>
            </table>
          </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>

<ng-template #noDataFound let-hello="hello">
  <tr>
    <td colspan="4" class="text-center"> {{hello}} </td>
  </tr>
   
</ng-template>