<div class="d-flex mt-4">
    <!-- <label for="searchInput" [ngStyle]="{ 'font-size': '14px' }"></label> -->
    <input
      type="text"
      id="searchInput"
      class="form-control me-2"
      [(ngModel)]="searchQuery"
      [ngStyle]="{ 'font-size': '14px', 'padding': '10px', 'width': '200px' }"
      (input)="performSearch()">
    <button class="btn btn-primary" (click)="performSearch()">Search</button>
  </div>
  
  
  <table class="table mt-4" *ngIf="isLoggedIn">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Fees in USD</th>
        <th scope="col">Fees IN INR </th>
        <th scope="col">Admission Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredCategory; let i = index" (click)="test(item)">
        <td>{{ item.id }}</td>
        <td>{{ item.name | titlecase }}</td>
        <td>{{ item.description | titlecase }}</td>
        <td>{{ item.fees | currency:'USD' }}</td>
        <td>{{ item.fees | convertINR | currency:'INR'}}</td>
        <td>{{ item.admissionDate | date:'medium' | uppercase }}</td>
        <td>
          <!-- <a (click)="redirect(item.id)" class="btn btn-sm btn-outline-primary">View</a> -->
          <a [routerLink]="['/user-detail', i + 1]" class="btn btn-sm btn-outline-primary">View</a>
        </td>
      </tr>
    </tbody>
  </table>